<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf入门</title>
</head>
<body>
    <span th:text="Hello">ttttt</span>
    <span th:text="${#strings.isEmpty(msg)}"></span>
    <input type="text" name="username" th:value="${msg}"></input>
    <span th:if="${msg} == '男'">
        性别：男
    </span>
    <span th:if="${msg} == '女'">
        性别：女
    </span>
    <div th:switch="${msg}">
        <span th:case="1">ID为1</span>
        <span th:case="女">ID为2</span>
        <span th:case="男">ID为3</span>
    </div>
    <table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr th:each="u,val : ${userList}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.nameA}"></td>
        <td th:text="${u.passwd}"></td>
</table>
</body>
</html>